
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<h2>Index</h2>

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            New Owner Lists
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Requested Reservations</div>
        <div class="panel-body">
            New Renter Lists
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Current Reservations</div>
        <div class="panel-body">
            New Reservations Lists
        </div>
    </div>
</div>