
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<h2>Welcome Carlos</h2>

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>BEDROOMS</th>
                        <th>WASHROOMS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cl0125489</td>
                        <td>Cabin Lot</td>
                        <td>2 Bedrooms</td>
                        <td>1 Washrooms</td>
                        <td>@Html.ActionLink("Details", "PropertyDetails")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Requested Reservations</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>RENTER NAME</th>
                        <th>PROPERTY ID</th>
                        <th>PROPERTY TYPE</th>
                        <th>BEDROOMS</th>
                        <th>WASHROOMS</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>cl0125489</td>
                        <td>Cabin Lot</td>
                        <td>2 Bedrooms</td>
                        <td>1 Washrooms</td>
                        <td>Not Confirmed Yet</td>
                        <td>@Html.ActionLink("Details", "#")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Current Reservations</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>RENTER NAME</th>
                        <th>PROPERTY ID</th>
                        <th>PROPERTY TYPE</th>
                        <th>BEDROOMS</th>
                        <th>WASHROOMS</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>