
@{
    ViewBag.Title = "Blackcomb";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Blackcomb</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Blackcomb LUXURY CABIN LOT</h2>
        <div>Free bus to the lifts in the morning. Ski to within metres of your door at the end of the day.</div>
        <div>PRICE: $6,250/ Week</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PROPERTY DETAILS</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4">
            TYPE: CABIN LOT
        </div>
        <div class="col-xs-12 col-sm-4">
            DIMENSIONS: 645.21 feet  frontage
        </div>
        <div class="col-xs-12 col-sm-4">
            BEDROOMS: 3
        </div>
        <div class="col-xs-12 col-sm-4">
            BATHROOM: 2
        </div>
        <div class="col-xs-12 col-sm-4">
            LIVING ROOMS: 1
        </div>
        <div class="col-xs-12 col-sm-4">
            MAX SLEEPS: 6
        </div>
        <div class="col-xs-12 col-sm-4">
            KITCHEN: YES
        </div>
        <div class="col-xs-12 col-sm-4">
            SMOKING ALLOWED: NO
        </div>
        <div class="col-xs-12 col-sm-4">
            AVAILABLE DATES:
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PROPERTY FEATURES</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4">
            BACKYARD
        </div>
        <div class="col-xs-12 col-sm-4">
            BALCONY
        </div>
        <div class="col-xs-12 col-sm-4">
            ELECTRIC RANGE
        </div>
        <div class="col-xs-12 col-sm-4">
            FIRE ALARM
        </div>
        <div class="col-xs-12 col-sm-4">
            FURNISHED
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">address</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-4">
                Whistler and Blackcomb Mountains
                4545 Blackcomb Way, Whistler, B.C. V0N 1B4 Canada 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <img src="~/Images/cabin.jpg" alt="cabin1">
    </div>

</div>

