
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<header><img src="~/Images/STSC.jpg" class="img-responsive"/></header>
<div class="container">
    <h2>Index</h2>
</div>

