
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<header></header>
<div id="titleContainer">
    <div id="titleDiv">
        <img id="logoTitle" src="~/Images/STSC_logo.png" />
    </div>
</div>


    <!-- properties Section -->
<div  class="containerDiv" id="properties">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Properties</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="clearfix">
                    <a href='@Url.Action("PropertyDetails", "Home")'>
                        <img src='@Url.Content("~/Content/Images/cabin.jpg")'>
                    </a>
                    <table class="table">
                        <tr>
                            <th>cabin Lot</th>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td>616.21 feet frontage</td>
                        </tr>
                        <tr>
                            <td>Rooms</td>
                            <td>2 Bedrooms, 1 Bathroom, Max Occupancy 4</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>$5,250/ Week</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="clearfix">
                    <img src="~/Images/cabin2.jpg" alt="cabin2" class="pull-left img-responsive">
                    <table class="table">
                        <tr>
                            <th>cabin Lot</th>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td>645.21 feet frontage</td>
                        </tr>
                        <tr>
                            <td>Rooms</td>
                            <td>4 Bedrooms, 2 Bathroom, Max Occupancy 6</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>$6,250/ Week</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="clearfix">
                    <img src="~/Images/cabin3.jpg" alt="cabin3" class="pull-left img-responsive">
                    <table class="table">
                        <tr>
                            <th>cabin Lot</th>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td>746.00 feet frontage</td>
                        </tr>
                        <tr>
                            <td>Rooms</td>
                            <td>2 Bedrooms, 1 Bathroom, Max Occupancy 4</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>$7,777/ Week</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

