
@{
    ViewBag.Title = "STSC - Whistler Creek";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="panel panel-default text-center">
    <div class="panel-body container">
        <h2>Whistler Creek</h2>
        <div class="text-info"><b>Free bus to the lifts in the morning. Ski to within metres of your door at the end of the day.</b></div>
        <div class="text-success">PRICE:$7,777/Week</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PROPERTY DETAILS</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4">
            TYPE: CABIN LOT
        </div>
        <div class="col-xs-12 col-sm-4">
            DIMENSIONS: 746.00 feet frontage
        </div>
        <div class="col-xs-12 col-sm-4">
            BEDROOMS: 2
        </div>
        <div class="col-xs-12 col-sm-4">
            BATHROOM: 1
        </div>
        <div class="col-xs-12 col-sm-4">
            LIVING ROOMS: 1
        </div>
        <div class="col-xs-12 col-sm-4">
            MAX SLEEPS: 4
        </div>
        <div class="col-xs-12 col-sm-4">
            KITCHEN: YES
        </div>
        <div class="col-xs-12 col-sm-4">
            SMOKING ALLOWED: NO
        </div>
        <div class="col-xs-12 col-sm-4">
            AVAILABLE DATES:
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PROPERTY FEATURES</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4">
            BACKYARD
        </div>
        <div class="col-xs-12 col-sm-4">
            BALCONY
        </div>
        <div class="col-xs-12 col-sm-4">
            ELECTRIC RANGE
        </div>
        <div class="col-xs-12 col-sm-4">
            FIRE ALARM
        </div>
        <div class="col-xs-12 col-sm-4">
            FURNISHED
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">address</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-4">
                4230 Gateway Dr Whistler, BC V0N 1B4
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <img src="~/Images/cabin.jpg" alt="cabin1">
    </div>

</div>



