
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Welcome 'Administrator Name Here'</h2>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">New Owner</div>
        <div class="panel-body">
            New Owner Lists
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">New Renter</div>
        <div class="panel-body">
            New Renter Lists
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">New Reservation</div>
        <div class="panel-body">
            New Reservations Lists
        </div>
    </div>
</div>