
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="adminProfileFormWrapperDiv">
    <div id="adminProfileFormWrapper">
        <form id="adminProfileForm">
            <h2 class="adminHeader">Admin Profile</h2>
            <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input type="text" class="form-control" id="firstNameEdit" aria-describedby="inputFirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastNameInput">Last Name</label>
                <input type="text" class="form-control" id="lastNameEdit" aria-describedby="inputLastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" value="Create account" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>